<%- include("partials/header.ejs") %>

<div class="data-container">
  <div class="data-quote">
    <h1>Focus on being productive instead of busy.</h1>
  </div>
  <div class="form">
    <form action="/Home" method="post">
      <div class="data-date">
        <input type="date" name="Date" id="date-col">
      </div>
      <div class="data-content">
        <textarea name="Content" cols="40" rows="10" placeholder="What's Today...."></textarea>
      </div>
      <div class="btn">
        <input type="submit" value="Done">
      </div>
    </form>
  </div>
</div>