<%- include("partials/header.ejs") %>

<header>
  <div class="brand-name">
    <h1>Today</h1>
  </div>
  <%- include("nav.ejs") %>
</header>


<section>
  <%- include("section.ejs") %>
</section>